header

  nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-top
    a.navbar-brand Frontend

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false")
      span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarNav
    //- ul.navbar-nav
    //-   li.nav-item
    //-     a.nav-link(href="#") текст
