include mixins
doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Frontend
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
            block scripts
                script(src="js/main.min.js")
    body

        block header
            include header

        block content

        block footer
            include footer
