@import "common/global";

@import "common/header";

@import "common/footer";

main.main {
  max-width: none;
  margin: 70px 20px;

  .icon-bulb {
    float: left;
    width: 50px;
    height: 50px;
  }

  @include media-laptop {
      max-width: 1000px;
      margin: 70px auto;
  }

}
