@import "../../local_modules/normalize.css/normalize";
@import "../../local_modules/bootstrap/dist/css/bootstrap.min";
@import "../mixins/media";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: DaxlinePro;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
