extends common/layout

block content
  main.main
    h1 Автосборка фронтэнда
      +icon('bulb', 'icon-bulb')
    hr
    h2 Что есть внутри
    ul
      li Сборка на gulp
      li Шаблонизатор Jade(Pug)
      li Sass
      li Mixins для jade и sass
      li Оптимизация стилей с помощью cleanCSS
      li Оптимизация и даунгрейд js до ES5 с помощью WebPack
      li Оптимизация картинок и SVG спрайты
      li Автообновление страницы в браузере после сборки

    p Подробнее можно прочитать на
      =' '
      a(href="https://habr.com/ru/post/484714/") хабре
      ='.'
