// Файл для подключения нестандартных шрифтов

@font-face  {
  font-family: "DaxlinePro";
  font-style: normal;
  font-stretch: normal;
  src: url(../fonts/DaxlinePro-Regular.woff) format('woff')
}

@font-face  {
  font-family: "DaxlinePro-Light";
  src: url(../fonts/DaxlinePro-Light.woff) format('woff')
}

@font-face  {
  font-family: "DaxlinePro-Medium";
  src: url(../fonts/DaxlinePro-Medium.woff) format('woff')
}

@font-face  {
  font-family: "DaxlinePro-Bold";
  font-weight: bold;
  src: url(../fonts/DaxlinePro-Bold.woff) format('woff')
}
